#balloon {
  width:100px;
  height:150px;
  background: url('../img/fusen_01.png');
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  -moz-background-size:cover;
  background-size:cover;
}

img .balloon {
  width:100px;
  height:150px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}